# Grodzditskaya Victoria

In [73]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [74]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
650,tt0450314,20500000,10089373,Punisher: War Zone,Ray Stevenson|Dominic West|Julie Benz|Colin Sa...,Lexi Alexander,Vengeance has a name,Waging his one-man war on the world of organiz...,102,Action|Crime,Lionsgate|MHF Zweite Academy Film|Marvel Knigh...,12/5/2008,5.5,2008
847,tt1726669,10000000,3665069,Killer Joe,Matthew McConaughey|Emile Hirsch|Thomas Haden ...,William Friedkin,A Totally Deep-Fried Texas Redneck Trailer Par...,A cop (Matthew McConaughey) who moonlights as ...,102,Drama|Thriller,Voltage pictures|Worldview Entertainment|ANA M...,9/10/2011,6.3,2011
1097,tt0283426,20000000,135680000,The Jungle Book 2,John Goodman|Haley Joel Osment|Mae Whitman|Phi...,Steve Trenbirth,Feel the jungle beat,"Mowgli, missing the jungle and his old friends...",72,Family|Animation|Adventure,Walt Disney Pictures|Walt Disney Television An...,2/7/2003,5.6,2003
195,tt1823664,65000000,133821816,Annie,QuvenzhanÃ© Wallis|Jamie Foxx|Rose Byrne|Camer...,Will Gluck,It's a Hard Knock Life,"Ever since her parents left her as a baby, lit...",119,Music|Comedy|Drama|Family,Columbia Pictures|Sony Pictures Entertainment ...,12/19/2014,6.1,2014
384,tt1282140,8000000,74952305,Easy A,Emma Stone|Stanley Tucci|Amanda Bynes|Cam Giga...,Will Gluck,The rumour-filled totally false account of how...,After a little white lie about losing her virg...,92,Comedy,Screen Gems|Olive Bridge Entertainment,9/10/2010,6.6,2010

In [75]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [76]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data['revenue'] - data['budget']
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [77]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [78]:
# тут пишем ваш код для решения данного вопроса:
display(data.groupby(['budget'])[['original_title', 'imdb_id']].max())
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

                                        original_title    imdb_id
budget
5000000                                     Wonderland  tt4178092
5500000                                 Predestination  tt2397535
6000000                            We Are Your Friends  tt3787590
6400000                                     Young Adam  tt1655420
6500000                                    The Pyramid  tt3322940
...                                                ...        ...
258000000                                 Spider-Man 3  tt0413300
260000000                                      Tangled  tt0401729
280000000                      Avengers: Age of Ultron  tt2395427
300000000     Pirates of the Caribbean: At World's End  tt0449088
380000000  Pirates of the Caribbean: On Stranger Tides  tt1298650

[203 rows x 2 columns]

ВАРИАНТ 2

In [79]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [80]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [115]:
display(data.groupby(['runtime'])[['original_title', 'imdb_id']].max())
answers['2'] = 'Gods and Generals (tt0279111)'

                                        original_title    imdb_id
runtime
63                                     Winnie the Pooh  tt1449283
72                                   The Jungle Book 2  tt0283426
76                                             Valiant  tt0361089
77                                        Corpse Bride  tt0121164
78                            The Emperor's New Groove  tt0243585
...                                                ...        ...
183                                       Pearl Harbor  tt0213149
187                                          King Kong  tt0360717
191                                         Grindhouse  tt0462322
201      The Lord of the Rings: The Return of the King  tt0167260
214                                  Gods and Generals  tt0279111

[105 rows x 2 columns]

# 3. Какой из фильмов самый короткий (в минутах)?

In [82]:
display(data.groupby(['runtime'])[['original_title', 'imdb_id']].min())
answers['3'] = 'Winnie the Pooh (tt1449283)'

                                        original_title    imdb_id
runtime
63                                     Winnie the Pooh  tt1449283
72                                Return to Never Land  tt0280030
76                                   Home on the Range  tt0299172
77                                        Corpse Bride  tt0121164
78                                     Stuart Little 2  tt0120917
...                                                ...        ...
183                                       Pearl Harbor  tt0213149
187                                          King Kong  tt0360717
191                                         Grindhouse  tt0462322
201      The Lord of the Rings: The Return of the King  tt0167260
214                                  Gods and Generals  tt0279111

[105 rows x 2 columns]

# 4. Какова средняя длительность фильмов?

In [83]:
display(data['runtime'].mean())
answers['4'] = '109.6585494970884'

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [84]:
display(data['runtime'].median())
answers['5'] = '107.0'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [85]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data.groupby(['profit'])[['original_title', 'imdb_id']].max())
answers['6'] = 'Avatar (tt0499549)'

                           original_title    imdb_id
profit
-165710090                The Lone Ranger  tt1210819
-119180039                      The Alamo  tt0318974
-111007242                Mars Needs Moms  tt1305591
-92896027    The Adventures of Pluto Nash  tt0180052
-84540684                    Flushed Away  tt0424095
...                                   ...        ...
 1299557910                  The Avengers  tt0848228
 1316249360                     Furious 7  tt2820852
 1363528810                Jurassic World  tt0369610
 1868178225  Star Wars: The Force Awakens  tt2488496
 2544505847                        Avatar  tt0499549

[1881 rows x 2 columns]

# 7. Какой фильм самый убыточный?

In [86]:
display(data.groupby(['profit'])[['original_title', 'imdb_id']].min())
answers['7'] = 'The Lone Ranger (tt1210819)'

                           original_title    imdb_id
profit
-165710090                The Lone Ranger  tt1210819
-119180039                      The Alamo  tt0318974
-111007242                Mars Needs Moms  tt1305591
-92896027    The Adventures of Pluto Nash  tt0180052
-84540684                    Flushed Away  tt0424095
...                                   ...        ...
 1299557910                  The Avengers  tt0848228
 1316249360                     Furious 7  tt2820852
 1363528810                Jurassic World  tt0369610
 1868178225  Star Wars: The Force Awakens  tt2488496
 2544505847                        Avatar  tt0499549

[1881 rows x 2 columns]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [87]:
d = data['profit']
f = 0
for i in d:
    if i > 0:
        f+= 1
print(f)
answers['8'] = '1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [88]:
k = data.loc[data['release_year'] == 2008]
k = k.sort_values(by = ['revenue'], ascending = False)
display(k.head(1))
answers['9'] = 'The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [89]:
k = data.loc[(2012 <= data['release_year']) & (2014 >= data['release_year'])]
k = k.sort_values(by = ['profit'])
display(k.head(1))
answers['10'] = 'The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [90]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_df = data.copy()
genres_df['genres'] = genres_df['genres'].str.split('|')
genres_df = genres_df.explode('genres')
genres_df = genres_df['genres'].value_counts()
display(genres_df)
answers['11'] = 'Drama'

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [91]:
genres_df = data.copy()
genres_df = genres_df.query('profit > 0')
genres_df['genres'] = genres_df['genres'].str.split('|')
genres_df = genres_df.explode('genres')
genres_df = genres_df['genres'].value_counts().index[0]
display(genres_df)
answers['12'] = 'Drama'

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [92]:
display(data.groupby(['director'])[['revenue']].sum().sort_values(by = ['revenue'], ascending = False))
answers['13'] = 'Peter Jackson'

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [93]:
genres_df = data[data['genres'].str.contains('Action')].copy()
genres_df['director'] = genres_df['director'].str.split('|')
genres_df = genres_df.explode('director')
genres_df = genres_df[['director']].value_counts()
display(genres_df)
answers['14'] = 'Robert Rodriguez'

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [94]:
actor = data.loc[data['release_year'] == 2012].copy()
actor['cast'] = actor['cast'].str.split('|')
actor = actor.explode('cast')
actor = actor.groupby(['cast'])[['revenue']].sum().sort_values(by = ['revenue'], ascending = False)
display(actor)
answers['15'] = 'Chris Hemsworth'

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов? (Примечание: в фильмах, где бюджет выше среднего по данной выборке.)

In [95]:
actor = data.copy()
mean_budget = actor['budget'].mean()
actor = actor[actor['budget'] > mean_budget]
actor['cast'] = actor['cast'].str.split('|')
actor = actor.explode('cast')
actor = actor.groupby(['cast'])[['imdb_id']].count().sort_values(by = ['imdb_id'], ascending = False)
display(actor)
answers['16'] = 'Matt Damon'

                         imdb_id
cast
Matt Damon                    18
Adam Sandler                  17
Angelina Jolie                16
Tom Cruise                    15
Eddie Murphy                  15
...                          ...
Jennifer Hudson                1
Jennifer Jason Leigh           1
Jennifer Saunders              1
Jennifer Tilly                 1
Ã“lafur Darri Ã“lafsson        1

[1505 rows x 1 columns]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [96]:
cage_genre = data.copy()
cage_genre = cage_genre[cage_genre.cast.str.contains('Nicolas Cage')]
cage_genre['genres'] = cage_genre['genres'].str.split('|')
cage_genre = cage_genre.explode('genres')
cage_genre = cage_genre.groupby(['genres'])[['imdb_id']].count().sort_values(by = ['imdb_id'], ascending = False)
display(cage_genre)
answers['17'] = 'Action'

                 imdb_id
genres
Action                17
Thriller              15
Drama                 12
Crime                 10
Fantasy                8
Adventure              7
Comedy                 6
Science Fiction        4
Animation              3
Family                 3
Mystery                3
History                2
Horror                 1
Romance                1
War                    1

# 18. Самый убыточный фильм от Paramount Pictures

In [97]:
unprofit = data[data['production_companies'].str.contains('Paramount Pictures')].copy()
unprofit = unprofit.sort_values(by = ['profit'])
display(unprofit.head(1))
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [98]:
display(data.groupby(['release_year'])[['revenue']].sum().sort_values(by = ['revenue'], ascending = False))
answers['19'] = '2015'

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [99]:
profit_year = data[data['production_companies'].str.contains('Warner Bros', na = False)].copy()
profit_year = profit_year.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
display(profit_year)
answers['20'] = '2014'

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [100]:
data21 = data.copy()
data21['release_date_month'] = data21['release_date'].apply(lambda x: pd.to_datetime(x).month)
data21 = data21['release_date_month'].value_counts().sort_values(ascending = False)
display(data21)
answers['21'] = '9'

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [101]:
data22 = data.copy()
data22['release_date_month'] = data22['release_date'].apply(lambda x: pd.to_datetime(x).month)
data22 = data22['release_date_month'].value_counts()
summer = data22[6] + data22[7] + data22[8]
print(summer)
answers['22'] = '450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [102]:
data23 = data.copy()
data23['release_date'] = pd.to_datetime(data23['release_date'])
data23.release_date = data23.release_date.apply(lambda x: x.strftime('%B'))
data23_1 = data23.query('release_date in ["January", "February", "December"]')
data23_2 = data23_1.director.str.split('|')
data23_2 = data23_1.explode('director')
display(data23_2.director.value_counts())
answers['23'] = 'Peter Jackson'

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Nancy Meyers         4
Martin Scorsese      4
                    ..
George Armitage      1
Jon Avnet            1
Scott Derrickson     1
Rajkumar Hirani      1
Judd Apatow          1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [103]:
data24 = data.copy()
data24['len'] = data24['original_title'].apply(len)
data24['production_companies'] = data24['production_companies'].str.split('|')
data24 = data24.explode('production_companies')
data24 = data24.groupby('production_companies')['len'].mean().sort_values(ascending = False)
display(data24)
answers['24'] = 'Four By Two Productions'

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: len, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [104]:
data25 = data.copy()

data25['number_of_words'] = data25['overview'].apply(lambda x: len(x.split()))

data25['production_companies'] = data25['production_companies'].str.split('|')
data25 = data25.explode('production_companies')

data25 = data25.groupby('production_companies')['number_of_words'].mean().sort_values(ascending = False)
display(data25)

answers['25'] = 'Midnight Picture Show'

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Heineken Branded Entertainment           159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: number_of_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [105]:
data26 = data.copy()
mark = data26['vote_average'].quantile(0.99)
print(mark)
data26 = data26[data26['vote_average'] >= mark][['original_title', 'vote_average']].sort_values(by = ['vote_average'], ascending = False)
display(data26)
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

7.8

                                         original_title  vote_average
599                                     The Dark Knight           8.1
9                                            Inside Out           8.0
34                                                 Room           8.0
118                                        Interstellar           8.0
125                                  The Imitation Game           8.0
370                                           Inception           7.9
1191                                   12 Years a Slave           7.9
1183                            The Wolf of Wall Street           7.9
1081      The Lord of the Rings: The Return of the King           7.9
872                                         The Pianist           7.9
1800                                            Memento           7.9
119                             Guardians of the Galaxy           7.9
138                            The Grand Budapest Hotel           7.9
128                                           Gone Girl           7.9
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1444                                       The Prestige           7.8
1213                                 Dallas Buyers Club           7.8
1205                                          Prisoners           7.8
124                                          Big Hero 6           7.8
1188                                                Her           7.8
316                                            3 Idiots           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
28                                            Spotlight           7.8
177                              The Fault in Our Stars           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [113]:
cols = ['original_title', 'cast']
df = data[cols].copy()
df['cast'] = df['cast'].str.split('|').apply(sorted)

df.cast = df.cast.apply(lambda x: list(itertools.combinations(x, 2)))

df = df.explode('cast')

display(df.cast.value_counts().head(7))

name1, name2 = df.cast.value_counts().index[0]
name12, name22 = df.cast.value_counts().index[1]
print(f'Чаще всего в одном фильме снимается пара {name1} & {name2},')
print(f'а также - пара {name12} & {name22}.')

answers['27'] = 'Daniel Radcliffe, Rupert Grint'

(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Emma Watson)        8
(Daniel Radcliffe, Rupert Grint)       8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
(Kristen Stewart, Taylor Lautner)      5
(Robert Pattinson, Taylor Lautner)     5
Name: cast, dtype: int64

Чаще всего в одном фильме снимается пара Emma Watson & Rupert Grint,
а также - пара Daniel Radcliffe & Emma Watson.

# Submission

In [116]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [108]:
# и убедиться что ни чего не пропустил)
len(answers)

26