In [434]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [435]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
805,tt1772240,5000000,25562924,Apollo 18,Ryan Robbins|Warren Christie|Lloyd Owen|Andrew...,Gonzalo LÃ³pez-Gallego,There's a reason we've never gone back to the ...,"Officially, Apollo 17 was the last manned miss...",86,Horror|Thriller|Science Fiction,Bazelevs Production|Dimension Films|Bekmambeto...,7/20/2011,4.9,2011
1759,tt0452625,25000000,59192128,Good Luck Chuck,Dane Cook|Jessica Alba|Dan Fogler|Ellia Englis...,Mark Helfrich,He has to break his curse before she breaks hi...,"Cursed since childhood, dentist Charlie Kagan ...",101,Comedy|Drama|Romance,Lionsgate|Karz Entertainment,9/21/2007,5.5,2007
1531,tt0462504,10000000,7177143,Rescue Dawn,Christian Bale|Steve Zahn|Marshall Bell|Toby H...,Werner Herzog,A true story of survival... declassified.,A US Fighter pilot's epic struggle of survival...,126,Adventure|Drama|War,Metro-Goldwyn-Mayer (MGM),9/9/2006,6.6,2006
829,tt1778304,5000000,205703818,Paranormal Activity 3,Katie Featherston|Sprague Grayden|Lauren Bittn...,Henry Joost|Ariel Schulman,It Runs In The Family,"In 1988, evil begins to terrorize young sister...",83,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/19/2011,6.0,2011
1127,tt0338094,90000000,182290266,The Haunted Mansion,Eddie Murphy|Terence Stamp|Nathaniel Parker|Ma...,Rob Minkoff,Check your pulse at the door... if you have one.,Workaholic Jim Evers and his wife/business par...,99,Thriller|Fantasy|Comedy|Family|Mystery,Walt Disney Pictures|Gunn Films|Doom Buggy Pro...,11/25/2003,5.1,2003

In [436]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [437]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

data['profit'] = data['revenue'] - data['budget']
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000,82299717
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000,-8444012
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000,-40865180
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000,-3962091
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000,-9782502

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [438]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [439]:
# тут пишем ваш код для решения данного вопроса:
display(data.groupby(['budget'])[['original_title', 'imdb_id']].max())
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

                                        original_title    imdb_id
budget
5000000                                     Wonderland  tt4178092
5500000                                 Predestination  tt2397535
6000000                            We Are Your Friends  tt3787590
6400000                                     Young Adam  tt1655420
6500000                                    The Pyramid  tt3322940
...                                                ...        ...
258000000                                 Spider-Man 3  tt0413300
260000000                                      Tangled  tt0401729
280000000                      Avengers: Age of Ultron  tt2395427
300000000     Pirates of the Caribbean: At World's End  tt0449088
380000000  Pirates of the Caribbean: On Stranger Tides  tt1298650

[203 rows x 2 columns]

ВАРИАНТ 2

In [440]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [441]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [442]:
display(data.groupby(['runtime'])[['original_title', 'imdb_id']].max())
answers['2'] = 'Gods and Generals (tt0279111)'

                                        original_title    imdb_id
runtime
63                                     Winnie the Pooh  tt1449283
72                                   The Jungle Book 2  tt0283426
76                                             Valiant  tt0361089
77                                        Corpse Bride  tt0121164
78                            The Emperor's New Groove  tt0243585
...                                                ...        ...
183                                       Pearl Harbor  tt0213149
187                                          King Kong  tt0360717
191                                         Grindhouse  tt0462322
201      The Lord of the Rings: The Return of the King  tt0167260
214                                  Gods and Generals  tt0279111

[105 rows x 2 columns]

# 3. Какой из фильмов самый короткий (в минутах)?

In [443]:
display(data.groupby(['runtime'])[['original_title', 'imdb_id']].min())
answers['3'] = 'Winnie the Pooh (tt1449283)'

                                        original_title    imdb_id
runtime
63                                     Winnie the Pooh  tt1449283
72                                Return to Never Land  tt0280030
76                                   Home on the Range  tt0299172
77                                        Corpse Bride  tt0121164
78                                     Stuart Little 2  tt0120917
...                                                ...        ...
183                                       Pearl Harbor  tt0213149
187                                          King Kong  tt0360717
191                                         Grindhouse  tt0462322
201      The Lord of the Rings: The Return of the King  tt0167260
214                                  Gods and Generals  tt0279111

[105 rows x 2 columns]

# 4. Какова средняя длительность фильмов?

In [444]:
display(data['runtime'].mean())
answers['4'] = '109.6585494970884'

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [445]:
display(data['runtime'].median())
answers['5'] = '107.0'

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [446]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data.groupby(['profit'])[['original_title', 'imdb_id']].max())
answers['6'] = 'Avatar (tt0499549)'

                           original_title    imdb_id
profit
-165710090                The Lone Ranger  tt1210819
-119180039                      The Alamo  tt0318974
-111007242                Mars Needs Moms  tt1305591
-92896027    The Adventures of Pluto Nash  tt0180052
-84540684                    Flushed Away  tt0424095
...                                   ...        ...
 1299557910                  The Avengers  tt0848228
 1316249360                     Furious 7  tt2820852
 1363528810                Jurassic World  tt0369610
 1868178225  Star Wars: The Force Awakens  tt2488496
 2544505847                        Avatar  tt0499549

[1881 rows x 2 columns]

# 7. Какой фильм самый убыточный?

In [447]:
display(data.groupby(['profit'])[['original_title', 'imdb_id']].min())
answers['7'] = 'The Lone Ranger (tt1210819)'

                           original_title    imdb_id
profit
-165710090                The Lone Ranger  tt1210819
-119180039                      The Alamo  tt0318974
-111007242                Mars Needs Moms  tt1305591
-92896027    The Adventures of Pluto Nash  tt0180052
-84540684                    Flushed Away  tt0424095
...                                   ...        ...
 1299557910                  The Avengers  tt0848228
 1316249360                     Furious 7  tt2820852
 1363528810                Jurassic World  tt0369610
 1868178225  Star Wars: The Force Awakens  tt2488496
 2544505847                        Avatar  tt0499549

[1881 rows x 2 columns]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [448]:
d = data['profit']
f = 0
for i in d:
    if i > 0:
        f+= 1
print(f)
answers['8'] = '1478'

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [449]:
k = data.loc[data['release_year'] == 2008]
k = k.sort_values(by = ['revenue'], ascending = False)
display(k.head(1))
answers['9'] = 'The Dark Knight (tt0468569)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [450]:
k = data.loc[(2012 <= data['release_year']) & (2014 >= data['release_year'])]
k = k.sort_values(by = ['profit'])
display(k.head(1))
answers['10'] = 'The Lone Ranger (tt1210819)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [451]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genres_df = data.copy()
genres_df['genres'] = genres_df['genres'].str.split('|')
genres_df = genres_df.explode('genres')
genres_df = genres_df['genres'].value_counts()
display(genres_df)
answers['11'] = 'Drama'

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [452]:
genres_df = data.copy()
genres_df = genres_df.query('profit > 0')
genres_df['genres'] = genres_df['genres'].str.split('|')
genres_df = genres_df.explode('genres')
genres_df = genres_df['genres'].value_counts().index[0]
display(profit_genres)
answers['12'] = 'Drama'

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [453]:
display(data.groupby(['director'])[['revenue']].sum().sort_values(by = ['revenue'], ascending = False))
answers['13'] = 'Peter Jackson'

                      revenue
director
Peter Jackson      6490593685
Christopher Nolan  4167548502
David Yates        4154295625
Michael Bay        3886938960
J.J. Abrams        3579169916
...                       ...
David MichÃ´d         2295423
Steven Shainberg      2281089
Paul Schrader         2062066
Keanu Reeves          2054941
Simon Hunter          2033165

[957 rows x 1 columns]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [454]:
genres_df = data[data['genres'].str.contains('Action')].copy()
genres_df['director'] = genres_df['director'].str.split('|')
genres_df = genres_df.explode('director')
genres_df = genres_df[['director']].value_counts()
display(genres_df)
answers['14'] = 'Robert Rodriguez'

director
Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Joe Cornish           1
Roger Spottiswoode    1
Jimmy Hayward         1
Jim Gillespie         1
Jon Avnet             1
Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [455]:
actor = data.loc[data['release_year'] == 2012].copy()
actor['cast'] = actor['cast'].str.split('|')
actor = actor.explode('cast')
actor = actor.groupby(['cast'])[['revenue']].sum().sort_values(by = ['revenue'], ascending = False)
display(actor)
answers['15'] = 'Chris Hemsworth'

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов? (Примечание: в фильмах, где бюджет выше среднего по данной выборке.)

In [456]:
actor = data.copy()
mean_budget = actor['budget'].mean()
actor = actor[actor['budget'] > mean_budget]
actor['cast'] = actor['cast'].str.split('|')
actor = actor.explode('cast')
actor = actor.groupby(['cast'])[['imdb_id']].count().sort_values(by = ['imdb_id'], ascending = False)
display(actor)
answers['16'] = 'Matt Damon'

                         imdb_id
cast
Matt Damon                    18
Adam Sandler                  17
Angelina Jolie                16
Tom Cruise                    15
Eddie Murphy                  15
...                          ...
Jennifer Hudson                1
Jennifer Jason Leigh           1
Jennifer Saunders              1
Jennifer Tilly                 1
Ã“lafur Darri Ã“lafsson        1

[1505 rows x 1 columns]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [457]:
cage_genre = data.copy()
cage_genre = cage_genre[cage_genre.cast.str.contains('Nicolas Cage')]
cage_genre['genres'] = cage_genre['genres'].str.split('|')
cage_genre = cage_genre.explode('genres')
cage_genre = cage_genre.groupby(['genres'])[['imdb_id']].count().sort_values(by = ['imdb_id'], ascending = False)
display(cage_genre)
answers['17'] = 'Action'

                 imdb_id
genres
Action                17
Thriller              15
Drama                 12
Crime                 10
Fantasy                8
Adventure              7
Comedy                 6
Science Fiction        4
Animation              3
Family                 3
Mystery                3
History                2
Horror                 1
Romance                1
War                    1

# 18. Самый убыточный фильм от Paramount Pictures

In [458]:
unprofit = data[data['production_companies'].str.contains('Paramount Pictures')].copy()
unprofit = unprofit.sort_values(by = ['profit'])
display(unprofit.head(1))
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [459]:
display(data.groupby(['release_year'])[['revenue']].sum().sort_values(by = ['revenue'], ascending = False))
answers['19'] = '2015'

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872
2010          21071204961
2009          20261791024
2008          18252781990
2007          18162406801
2004          15663430720
2005          15309425558
2006          14775042320
2003          14346123312
2002          14136361487
2001          13017764865
2000          10664099805

# 20. Какой самый прибыльный год для студии Warner Bros?

In [460]:
profit_year = data[data['production_companies'].str.contains('Warner Bros')].copy()

profit_year = data.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
display(profit_year)
answers['20'] = '2015'

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2010    13531204961
2009    13423744372
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [461]:
data21 = data.copy()
data21['release_date_month'] = data21['release_date'].apply(lambda x: pd.to_datetime(x).month)
data21 = data21['release_date_month'].value_counts().sort_values(ascending = False)
display(data21)
answers['21'] = '9'

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_date_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [462]:
data22 = data.copy()
data22['release_date_month'] = data22['release_date'].apply(lambda x: pd.to_datetime(x).month)
data22 = data22['release_date_month'].value_counts()
summer = data22[6] + data22[7] + data22[8]
print(summer)
answers['22'] = '450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [463]:
data23 = data.copy()
data23['release_date'] = pd.to_datetime(data23['release_date'])
data23.release_date = data23.release_date.apply(lambda x: x.strftime('%B'))
data23_1 = data23.query('release_date in ["January", "February", "December"]')
data23_2 = data23_1.director.str.split('|')
data23_2 = data23_1.explode('director')
data23_2.director.value_counts()

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Nancy Meyers         4
Adam Shankman        4
                    ..
Rob Letterman        1
Jason Moore          1
Diane Keaton         1
Akiva Goldsman       1
James Watkins        1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [471]:
long_name = data.copy()
long_name['production_companies'] = long_name.production_companies.str.split('|')
long_name = long_name.explode('production_companies')
long_name['original_title'] = long_name['original_title'].apply(len)
df = long_name.groupby('production_companies').original_title.mean().sort_values(ascending = False)

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [464]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '109.6585494970884',
 '5': '107.0',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2015',
 '21': '9',
 '22': '450'}

In [465]:
# и убедиться что ни чего не пропустил)
len(answers)

22